[draggable~="true"] {
    cursor: move;
}

[draggable~="true"]:hover {
    opacity: 0.5;
}

[draggable~="true"] div {
    pointer-events: none;
}

[draggable~="true"] {
    border: 1px dashed #ccc;
}

[draggable~="false"] div {
    pointer-events: none;
}

.area {
    border: 1px solid #ccc;
}
